h1 {
    font-size: 4rem;
}
p {
    font-size: 1.5rem;
}
body {
    margin: 0;
    max-width: 1920px;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
}
.body::-webkit-scrollbar {
    display: none;
}
/* Centers Title in each section using Flex */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    margin: 0%;
}

.blue {
    background-color: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}
.darkblue {
    background: #001220;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}
.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background: #0f0f10;
    z-index: -1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waveRed {
    background-color: #C62368;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 149px;
}

.wave .shape-fill {
    fill: #202731;
}

.upwave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.upwave svg {
    position: relative;
    display: block;
    width: calc(248% + 1.3px);
    height: 52px;
}

.upwave .shape-fill {
    fill: #0f0f10;
}

.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.layer1 {
    background-image: url('./layer1.svg');
}

.end {
    padding: 0;
    margin-top: -100px;
}
.end h1 {
    margin-top: 0;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.end p {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    color: white;
}

.end ul, li, a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.end ul {
    display: flex;
}
.end li {
    list-style: none;
    margin: 0 20px;
}